<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3" id="navbar" >
    <a class="navbar-brand" href="#">YouSmart</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/index">Main<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/courseCreation" sec:authorize="hasRole('teacher')">Create course</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
        </ul>
        <span class="navbar-text" >
           <span sec:authorize="isAuthenticated()" sec:authentication="name">Bob</span>
    </span>
        <button sec:authorize="isAuthenticated()" onClick='location.href="/logout"' type="button" class="btn btn-primary ml-5"> Log out</button>
    </div>
</nav>


